<p>@Model.StatusMessage</p>

@if (Model.StatusMessage.Contains("sucesso"))
{
    <a asp-page="/Account/Login" class="btn btn-primary">Fazer Login</a>
}
else
{
    <a asp-page="/Account/Register" class="btn btn-secondary">Registar Novo Utilizador</a>
}
