@page
@model E.m.a.r.t.Areas.Identity.Pages.Account.LogoutModel

@{
    // Define o título da página para "Logout"
    ViewData["Title"] = "Logout";
}

<!-- Cabeçalho principal que indica que o utilizador está a sair da sessão -->
<h1>Logging out...</h1>
