@model IEnumerable<E.m.a.r.t.Models.Fotografias>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Página Inicial";
}

<h2>Bem-vindo ao E.M.A.R.T.</h2>
<p>Utiliza o menu acima para navegar pela aplicação.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
